* {
  font-family: "IBM Plex Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue"; 
}
html {
  background-color: rgb(237, 236, 236);
  overflow: auto;
  box-sizing: border-box;
}
html::after {
  box-sizing: inherit;
}
html::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
